In [1]:
city = "New york"

In [2]:
print(city)

New york

In [3]:
print("my city is " + city)

my city is New york

In [4]:
print("my name is {}".format('Mehedi'))

my name is Mehedi

In [5]:
print('{} {} {}'.format('mehedi','mahi','tapty'))

mehedi mahi tapty

In [6]:
num = 500/3

In [9]:
print("Given number {}".format(num))

Given number 166.66666666666666

In [17]:
age=24

In [16]:
print('Given number {n:2.3f}'.format(n=num))

Given number 166.667

# % FORMAT

In [18]:
print('My Age is %d'%age)

My Age is 24

In [20]:
print('given number is %.2f'%num)

given number is 166.67

In [21]:
print('my city is %s'%city)

my city is New york

In [22]:
m=[1,2,3]

In [24]:
print('m is %s'%m)

m is [1, 2, 3]